@import '../../assets/css/fonts';
@import '../../assets/css/mixins';

#guide-link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;

    button {
        @include button;

        background-color: black;
        border: 1px solid #333;
        color: #333;
    
        &:hover {
            background-color: #111;
            color: #444;
        }
    }
}
