@import '../../assets/css/fonts';

#dungeon-master-view {
    @include font-body;

    background-color: #faf7ef;

    article {
        padding: 10px 45px 30px;
    }

    em {
        @include font-body-bold-italic;
    }

    h2 {
        @include font-heading;

        display: flex;
        align-items: center;
    }

    ol {
        margin-top: 0;
        padding-left: 20px;

        ol li {
            padding-top: 10px;
        }
    }

    strong {
        @include font-body-bold;
    }

    .card {
        display: flex;

        img {
            filter: drop-shadow(1px 1px 1px #ccc);
            flex: 0 0 80px;
            height: 125px;
            width: 80px;
        }

        .script {
            padding-left: 15px;
        }
    }

    .form-field {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        label {
            color: #58170d;
            margin-right: 10px;
            width: 105px;
        }
    }

    .secret {
        margin-top: 12px;
    }

    #form {
        background-color: #eeece1;
        border-bottom: 1px solid #e0e1d2;
        padding: 15px 45px 5px;
    }
}
