@import '../../assets/css/fonts';

#guide {
    @include font-body;

    background-color: #FAF7EF;

    em {
        @include font-body-bold-italic;
    }

    h2 {
        @include font-heading;

        display: flex;
        align-items: center;
    }

    ol {
        padding-left: 20px;

        ol li {
            padding-top: 10px;
        }
    }

    strong {
        @include font-body-bold;
    }

    .form-field {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        label {
            color: #58170D;
            margin-right: 10px;
            width: 105px;
        }
    }

    .secret {
        margin-top: 12px;
    }

    #form {
        background-color: #EEECE1;
        border-bottom: 1px solid #E0E1D2;
        padding: 15px 45px 5px;
    }

    #script {
        padding: 10px 45px 30px;
    }
}
