@import '../../assets/css/fonts';

#guide {
    @include font-body;

    background-color: #FAF7EF;
    padding: 15px 45px 30px;

    em {
        @include font-body-bold-italic;
    }

    h2 {
        @include font-heading;
    }

    ol {
        padding-left: 20px;

        ol li {
            padding-top: 10px;
        }
    }

    strong {
        @include font-body-bold;
    }

    .form-field {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        label {
            margin-right: 10px;
        }
    }

    .secret {
        margin-top: 12px;
    }
}
